<!DOCTYPE html>

<html lang="ru" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>mainPage</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <form method="post" action="/">
            <div class="row">
                <div class="lead mx-auto text-center">
                    <input type="text" name="link" size="100" placeholder="Чтобы начать парсинг введите URL">
                </div>
            </div>
            <div class="row">
                <div class="lead mx-auto text-center">
                    <button type="submit"> Начать парсинг </button>
                </div>
            </div>
            <div class="row">
                <div class="lead mx-auto text-center">
                    <textarea name="piska" cols="130" rows="20">{{ massage }}</textarea>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
